body {
    margin: 0;
    padding: 0;
    font-family: DM Sans;
    color: #000;
}

.container-l {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.container-xl {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
.container-xxl {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}