.maps {
    padding-bottom: 150px;
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        @media screen and (max-width: 1140px) {
            flex-direction: column-reverse;
          }
    }
    .image {
        width: 49%;
        @media screen and (max-width: 1140px) {
            width: 100%;
        }
        .maps-img {
            width: 100%;
        }
    }
    .maps-info {
        padding: 90px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 49%;
        @media screen and (max-width: 1140px) {
            width: 100%;
        }
        .category {
            padding: 2px 16px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 32px;
            text-transform: uppercase;
            background: #5eae53;
            border-radius: 8px;
            color: white;
        }
        .title {
            padding: 16px 146px 16px 0;
            font-family: Work Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 56px;
            line-height: 64px;
            color: #333333;
            @media screen and (max-width: 767px) {
                padding: 10px 0 10px;
              }
              @media screen and (max-width: 480px) {
                font-size: 38px;
                line-height: 54px;
            }
        }
        .desc {
            padding-bottom: 24px;
            padding-right: 36px;
            font-family: DM Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 32px;
            color: rgba(51, 51, 51, 0.501557);
        }
        .maps-form {
            width: 100%;
            @media screen and (max-width: 678px) {
                width: 100%;
                display: flex;
                padding-bottom: 20px;
            }
            @media screen and (max-width: 480px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .input-container {
                padding: 14px;
                display: inline-block;
                position: relative;
                box-sizing: border-box;
                border: 1px solid #dadada;
                box-sizing: border-box;
                border-radius: 12px;
                margin-right: 28px;
                @media screen and (max-width: 480px) {
                    margin-right: 0;
                }
                &:before {
                    display: inline-block;
                    position: absolute;
                    content: "";
                    background: url("./img/map-logo.svg") 0 0 no-repeat;
                    background-size: contain;
                    width: 14px;
                    right: 14px;
                    z-index: 10;
                    padding: 14px 12px;
                }
            }
            .search {
                margin-right: 88px;
                font-family: DM Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 32px;
                color: rgba(51, 51, 51, 0.501557);
                border: none;
            }
            .maps-btn {
                font-family: DM Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                color: #ffffff;
                padding: 12px 32px;
                background: #eb8e78;
                border: 1px solid #eb8e78;
                border-radius: 12px;
                @media screen and (max-width: 480px) {
                    margin-top: 10px;
                }
            }
        }
    }
}
