.slider {

}


.slick-track {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.slider-item {
  width: 100%;
}
.slick-slide {

}

.slick-list {
  overflow: hidden;
}

.slick-slide {
  transition: all ease-in-out .3s;
}

.slick-active {

}

.slick-current {

}